<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="public/bootstrap.php"
         verbose="false">

    <testsuites>
        <testsuite name="Obiz Challenges Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage
        cacheDirectory="/tmp/coverage"
        includeUncoveredFiles="true"
        processUncoveredFiles="true"
        pathCoverage="true">

        <include>
            <directory suffix=".php">src</directory>
        </include>

        <report>
            <text
                outputFile="tests/coverage.txt"
                showUncoveredFiles="false"
                showOnlySummary="true"/>
        </report>
    </coverage>
</phpunit>
